# Ignore everything
*

# Allow the gitignore itself
!.gitignore

# Allow specific files in the root
!/Cargo.toml
!/clear.sh
# ALLOW DIRECTORIES (This is the missing step)
!/src/
!/ui/

# Now allow the specific files inside those directories
!/src/main.rs
!/ui/appwindow.slint
